{% extends 'base.html.twig' %}

{% block title %}Stand{% endblock %}

{% block body %}
    <h1>Stand {{ stand.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stand.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ stand.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ stand.description }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ stand.capacity }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ stand.duration ? stand.duration|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>Average Rating: {{ averageRating ? averageRating : 'No ratings yet' }}</td>
            </tr>

        </tbody>

    </table>
    <div>

        <h2>Rate Me</h2>
        {{ form_start(form) }}
            {{ form_row(form.rating) }}
            {{ form_row(form.comment) }}
        <button class="btn btn-primary">Submit</button>
        {{ form_end(form) }}

        <h2>Latest Comment</h2>
        {% if latestEvaluation %}
            <p>Rating: {{ latestEvaluation.rating }}</p>
            <p>Comment: {{ latestEvaluation.comment }}</p>
        {% else %}
            <p>No comments yet.</p>
        {% endif %}
    </div>

    <a href="{{ path('app_stand_index') }}">back to list</a>

    <a href="{{ path('app_stand_edit', {'id': stand.id}) }}">edit</a>

    {{ include('stand/_delete_form.html.twig') }}
{% endblock %}
